@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Montserrat:wght@200&family=Open+Sans:ital,wght@1,300&display=swap");
a {
  text-decoration: none;
  color: white;
}

* {
  font-family: "Open Sans";
  font-size: 16px;
}

li {
  list-style: none;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*________________________header____________________*/
header.header {
  background-image: url("./../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 98vh;
  color: white;
}
header.header .header__message {
  width: 37.5rem;
  position: relative;
  top: 5%;
  font-weight: 600;
  margin: 3.43rem 5.62rem;
}
header.header .header__message h3 {
  font-size: 3.8rem;
  font-family: "Dancing Script", "Montserrat";
  font-weight: 500;
}
header.header .header__message a {
  width: 8.12rem;
  text-transform: capitalize;
  text-align: center;
  display: block;
  padding: 0.43rem;
  font-weight: 600;
  border-radius: 1.4rem;
  background-color: #ffbe33;
}
header.header .header__message div.span {
  margin-top: 1.56rem;
  height: 3rem;
  height: 8rem;
  filter: contrast(4);
}
header.header .header__message div.span span.dot {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  top: 3.12rem;
  left: 1.56rem;
  filter: contrast(15px);
  border-radius: 1.56rem;
  animation: point 8s infinite;
}
header.header .header__message div.span span {
  display: block;
  float: left;
  width: 0.8rem;
  cursor: pointer;
  height: 0.8rem;
  background-color: #d3930a;
  margin-left: 0.5rem;
  filter: contrast(0.9px);
  border-radius: 1.56rem;
  position: relative;
  top: 3.12rem;
  left: 3.6rem;
  animation: points 8s infinite;
}

@keyframes point {
  50% {
    transform: translateX(70px);
  }
}
@keyframes points {
  50% {
    transform: translateX(-33px);
  }
}
.header__nav h1 {
  font-family: "Dancing Script", "Montserrat";
  font-size: 2rem;
}

.header__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__nav .header__nav__navbar ul {
  display: flex;
  gap: 50px;
  font-size: 3rem;
}
.header__nav .header__nav__navbar ul a.active {
  color: #ffbe33;
}
.header__nav .header__nav__user {
  position: relative;
  right: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__nav .header__nav__user a {
  width: 130px;
  text-transform: capitalize;
  text-align: center;
  display: block;
  padding: 7px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 20px;
  background-color: #ffbe33;
}

div.navi {
  display: flex;
  gap: 70px;
}

.header__nav__navbar li {
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
}
.header__nav__navbar li :hover {
  color: rgb(236, 159, 16);
}

.header__nav__navbar a {
  color: white;
}

div.animation {
  line-height: 1.5rem;
  animation: annimation1 8s infinite;
}

@keyframes annimation1 {
  50% {
    transform: translateX(-800px);
  }
}
/*________________SECTION REJUCTION______________*/
section.reduction {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 23px;
  height: 60vh;
  color: #ffffff;
}
section.reduction .reduction__container {
  display: flex;
  height: 12rem;
  width: 32rem;
  font-size: 1.3rem;
  font-family: "Dancing Script";
  border-radius: 10px;
  font-weight: 500;
  padding: 1rem;
  background-color: #1f1f1f;
  transition: all 0.2s ease-in-out;
}
section.reduction .reduction__container span {
  font-size: 2.3rem;
  font-weight: 600;
  font-family: "Dancing Script", "Montserrat";
}
section.reduction .reduction__container a {
  width: 8.125rem;
  text-transform: capitalize;
  text-align: center;
  display: block;
  padding: 0.43rem;
  font-weight: 600;
  font-family: "Open Sans";
  border-radius: 1.25rem;
  background-color: #ffbe33;
}
section.reduction .reduction__container img {
  width: 9.3rem;
  height: 9.3rem;
  border: solid 0.31rem #ffbe33;
  border-radius: 50%;
}

.reduction__container:hover img {
  transform: scale(1.1);
}

/*____________________section articles___________________*/
section.article .article__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
section.article .article__nav h2 {
  font-size: 2.7rem;
  font-weight: 700;
  font-family: "Dancing Script";
}

button.article__nav__btn {
  margin: 0.72rem;
  border: none;
  background-color: white;
}

button.active {
  background-color: #000000;
  color: #ffffff;
  width: 4.3rem;
  height: 2rem;
  border-radius: 1.7rem;
}

.article__container {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 33rem);
  margin: 2rem 3rem;
  align-items: center;
}

.article__container__row {
  align-items: center;
  background-color: #000000;
  font-size: 0.7rem;
  font-weight: 600;
  border-radius: 1rem;
  width: 24rem;
  height: 32rem;
  margin: 18px;
  transition: all 0.2s ease-in-out;
}
.article__container__row .article-img {
  background-color: #f3f3f3;
  height: 14rem;
  border: none;
  width: 100%;
  border-radius: 0.3rem 0.3rem 0rem 2rem;
  text-align: center;
}
.article__container__row .article-img img {
  width: 11rem;
  height: 8rem;
  padding: 3rem;
}
.article__container__row .article-text {
  padding: 0.7rem;
  color: #ffffff;
  font-size: 0.8rem;
  text-align: center;
}
.article__container__row .article-text p.name {
  font-size: 1.8rem;
}

.article__container__row:hover img {
  transform: scale(1.2);
}

.article-text > p:first-child {
  font-size: 1.3rem;
}

.article-text > p:nth-last-child(2) {
  font-size: 1.01rem;
}

button.bay {
  background-color: #ffbe33;
  height: 3rem;
  width: 2rem;
  border: none;
  color: #ffffff;
  -webkit-clip-path: circle();
          clip-path: circle();
  position: relative;
  left: 30%;
}

button.more {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  text-align: center;
  border: none;
  background-color: #ffbe33;
  color: white;
  border-radius: 1.87rem;
  width: 12rem;
  height: 2.5rem;
}

/*________________Section About__________________*/
section.about {
  background-color: #1f1f1f;
  color: white;
  display: flex;
  height: 800px;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
section.about .about__image {
  height: 43.75rem;
}
section.about .about__image img {
  height: 100%;
}
section.about .about__container {
  font-size: 1rem;
  line-height: 1.7rem;
  font-weight: 600;
  width: 500px;
}
section.about .about__container h2 {
  font-family: "Dancing Script";
  font-size: 2.7rem;
}
section.about .about__container a {
  width: 8.125rem;
  text-transform: capitalize;
  text-align: center;
  display: block;
  padding: 0.43rem;
  font-weight: 600;
  font-family: "Open Sans";
  border-radius: 1.25rem;
  background-color: #ffbe33;
}

/*_________________section localisation_________________________*/
section.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}
section.localisation div.form {
  width: 35rem;
}
section.localisation div.form h3 {
  font-family: "Dancing Script";
  font-size: 1.8rem;
}
section.localisation div.form input {
  margin: 10px;
  border-radius: 0.3rem;
  width: 100%;
  height: 3rem;
  border: solid 1px;
}
section.localisation div.form select {
  position: relative;
  left: 13px;
  width: 100%;
  height: 3rem;
  border: 1px solid;
  border-radius: 0.3rem;
  background-color: #ffffff;
}
section.localisation div.form select option.default {
  background-color: #f5f5f5;
}
section.localisation div.form select :hover {
  background-color: #f5f5f5;
}
section.localisation div#map {
  height: 20rem;
  width: 35rem;
}

select, option {
  background-color: #f5f5f5;
}

form button {
  margin-top: 2rem;
  width: 10rem;
  text-transform: capitalize;
  text-align: center;
  border: none;
  padding: 1rem;
  color: #ffffff;
  font-weight: 600;
  font-family: "Open Sans";
  border-radius: 1.25rem;
  background-color: #ffbe33;
}

/*_________________section satisfaction_________*/
section.satisfaction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.satisfaction h3 {
  font-family: "Dancing Script";
  font-size: 3rem;
  font-weight: 500;
}
section.satisfaction div.satisfaction__container {
  display: flex;
  gap: 3rem;
}
section.satisfaction div.satisfaction__container img {
  width: 9rem;
  -webkit-clip-path: circle(40% at center);
          clip-path: circle(40% at center);
}
section.satisfaction div.img {
  width: 9rem;
  background-color: #ffbe33;
  -webkit-clip-path: circle(41%);
          clip-path: circle(41%);
}
section.satisfaction div.img span {
  width: 5rem;
  height: 5rem;
}
section.satisfaction div.message {
  width: 32rem;
  background-color: #1f1f1f;
  color: white;
  padding: 0.1rem 1rem;
  border-radius: 0.5rem;
}

div.direction {
  display: flex;
  text-align: center;
  gap: 1rem;
}
div.direction .fas-direction {
  font-size: 1.5rem;
  color: #ffffff;
  padding-top: 1rem;
  width: 3rem;
  height: 3rem;
  background-color: #ffbe33;
  -webkit-clip-path: circle();
          clip-path: circle();
}

div.div1 {
  transition: position 25s ease-in-out infinite;
  transition-timing-function: steps(7, end);
  position: relative;
}

div.div2 {
  position: absolute;
  transition: position 25s ease-in-out infinite;
  transition-timing-function: steps(5, end);
  transform: translateX(110%);
  display: none;
}

.cacherGauche {
  transition: all ease infinite;
  transition-duration: 0.8s;
  transform: translate(-110%, 0%);
}

.visibiliter {
  transition: all ease infinite;
  transition-duration: 1s;
  transform: translateX(-85858%);
  display: block;
}

/*_____________________section Footer__________*/
section.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 65vh;
  gap: 5rem;
  font-family: "open sans";
  font-weight: 600;
  font-size: 0.8rem;
  background-color: #1f1f1f;
  color: #ffffff;
}
section.footer h4 {
  font-size: 2rem;
  font-family: "Dancing Script";
}
section.footer .footer__link {
  width: 300px;
}
section.footer .fas-icons {
  font-size: 1.2rem;
  color: #ffffff;
  padding-top: 1.8rem;
  width: 2rem;
  height: 3rem;
  color: #000000;
  background-color: white;
  -webkit-clip-path: circle();
          clip-path: circle();
}
section.footer div.iconContact {
  display: flex;
  gap: 1rem;
  align-items: center;
  line-height: 1.8rem;
}
section.footer div.footer__hours {
  padding-bottom: 9rem;
}
section.footer div.footer__conctact {
  padding-bottom: 8rem;
}

.activeDot {
  transform: scale(1.5);
  background-color: #d3930a;
}

@media screen and (max-width: 1320px) {
  /* règles CSS à appliquer lorsque la largeur de l'écran est inférieure ou égale à 1250px */
  header div.header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  header div.header__nav .header__nav__navbar ul {
    display: flex;
    gap: 20px;
    font-size: 1rem;
  }
  .article__container__row {
    align-items: center;
    background-color: #000000;
    font-size: 0.7rem;
    font-weight: 600;
    border-radius: 1rem;
    width: 20rem;
    height: 28rem;
    margin: 13px;
    transition: all 0.2s ease-in-out;
  }
  .article__container__row .article-img {
    background-color: #f3f3f3;
    height: 10rem;
    border: none;
    width: 100%;
    border-radius: 0.3rem 0.3rem 0rem 2rem;
    text-align: center;
  }
  .article__container__row .article-img img {
    width: 9rem;
    height: 6rem;
    padding: 2rem;
  }
  .article__container__row .article-text {
    padding: 0.5rem;
    color: #ffffff;
    font-size: 0.6rem;
    text-align: center;
  }
  .article__container__row .article-text p.name {
    font-size: 1.6rem;
  }
  section.reduction .reduction__container {
    display: flex;
    height: 12rem;
    width: 30rem;
    font-size: 1.3rem;
    font-family: "Dancing Script";
    border-radius: 10px;
    font-weight: 500;
    padding: 1rem;
    background-color: #1f1f1f;
    transition: all 0.2s ease-in-out;
  }
  section.satisfaction div.message {
    width: 30rem;
    background-color: #1f1f1f;
    color: white;
    padding: 0.1rem 1rem;
    border-radius: 0.5rem;
  }
}
@media screen and (max-width: 1092px) {
  /* règles CSS à appliquer lorsque la largeur de l'écran est inférieure ou égale à 1092px */
  section.reduction .reduction__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
    text-align: center;
    justify-content: center;
    height: 18rem;
    width: 16rem;
    font-size: 1.3rem;
    font-family: "Dancing Script";
    border-radius: 10px;
    font-weight: 500;
    padding: 1.9rem;
    background-color: #1f1f1f;
    transition: all 0.2s ease-in-out;
  }
  .article__container__row {
    align-items: center;
    background-color: #000000;
    font-size: 0.7rem;
    font-weight: 600;
    border-radius: 1rem;
    width: 18rem;
    height: 28rem;
    margin: 8px;
    transition: all 0.2s ease-in-out;
  }
  .article__container__row .article-img {
    background-color: #f3f3f3;
    height: 10rem;
    border: none;
    width: 100%;
    border-radius: 0.3rem 0.3rem 0rem 2rem;
    text-align: center;
  }
  .article__container__row .article-img img {
    width: 8rem;
    height: 5rem;
    padding: 2rem;
  }
  .article-text {
    padding: 0.5rem;
    color: #ffffff;
    font-size: 0.4rem;
    text-align: center;
  }
  .article-text p.name {
    font-size: 1.6rem;
  }
  section.satisfaction div.message {
    width: 21rem;
    background-color: #1f1f1f;
    color: white;
    padding: 0.1rem 1rem;
    border-radius: 0.5rem;
  }
  section.about {
    background-color: #1f1f1f;
    color: white;
    display: flex;
    height: 800px;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }
  section.about .about__image {
    height: 42rem;
  }
  section.about .about__image img {
    height: 70%;
  }
  section.about .about__container {
    font-size: 1rem;
    line-height: 1.7rem;
    font-weight: 600;
    width: 500px;
  }
  section.about .about__container h2 {
    font-family: "Dancing Script";
    font-size: 2.7rem;
  }
  section.about .about__container a {
    width: 8.125rem;
    text-transform: capitalize;
    text-align: center;
    display: block;
    padding: 0.43rem;
    font-weight: 600;
    font-family: "Open Sans";
    border-radius: 1.25rem;
    background-color: #ffbe33;
  }
}
@media screen and (max-width: 1024px) {
  /* règles CSS à appliquer lorsque la largeur de l'écran est inférieure ou égale à 1024px */
  .article__container {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 33rem);
    margin: 2rem 3rem;
    align-items: center;
  }
  .article__container__row {
    align-items: center;
    background-color: #000000;
    font-size: 0.7rem;
    font-weight: 600;
    border-radius: 1rem;
    width: 24rem;
    height: 32rem;
    margin: 13px;
    transition: all 0.2s ease-in-out;
  }
  .article__container__row .article-img {
    background-color: #f3f3f3;
    height: 14rem;
    border: none;
    width: 100%;
    border-radius: 0.3rem 0.3rem 0rem 2rem;
    text-align: center;
  }
  .article__container__row .article-img img {
    width: 11rem;
    height: 8rem;
    padding: 2rem;
  }
  .article__container__row .article-text {
    padding: 0.7rem;
    color: #ffffff;
    font-size: 0.8rem;
    text-align: center;
  }
  .article__container__row .article-text p.name {
    font-size: 1.8rem;
  }
  section.about {
    background-color: #1f1f1f;
    color: white;
    display: flex;
    height: 800px;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }
  section.about .about__image {
    height: 40rem;
  }
  section.about .about__image img {
    height: 70%;
  }
  section.about .about__container {
    font-size: 1rem;
    line-height: 1.7rem;
    font-weight: 600;
    width: 500px;
  }
  section.about .about__container h2 {
    font-family: "Dancing Script";
    font-size: 2.7rem;
  }
  section.about .about__container a {
    width: 8.125rem;
    text-transform: capitalize;
    text-align: center;
    display: block;
    padding: 0.43rem;
    font-weight: 600;
    font-family: "Open Sans";
    border-radius: 1.25rem;
    background-color: #ffbe33;
  }
}
@media screen and (max-width: 924px) {
  /* règles CSS à appliquer lorsque la largeur de l'écran est inférieure ou égale à 924px */
  .article__container__row {
    align-items: center;
    background-color: #000000;
    font-size: 0.7rem;
    font-weight: 600;
    border-radius: 1rem;
    width: 20rem;
    height: 28.6rem;
    margin: 8px;
    transition: all 0.2s ease-in-out;
  }
  .article__container__row .article-img {
    background-color: #f3f3f3;
    height: 10rem;
    border: none;
    width: 100%;
    border-radius: 0.3rem 0.3rem 0rem 2rem;
    text-align: center;
  }
  .article__container__row .article-img img {
    width: 8rem;
    height: 5rem;
    padding: 2rem;
  }
  section.satisfaction div.message {
    width: 15rem;
    background-color: #1f1f1f;
    color: white;
    padding: 0.1rem 1rem;
    border-radius: 0.5rem;
  }
  section.footer {
    gap: 1rem;
  }
}
@media screen and (max-width: 780px) {
  /* règles CSS à appliquer lorsque la largeur de l'écran est inférieure ou égale à 924px */
  section.reduction .reduction__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
    text-align: center;
    justify-content: center;
    height: 18rem;
    width: 12rem;
    font-size: 1.3rem;
    font-family: "Dancing Script";
    border-radius: 10px;
    font-weight: 500;
    padding: 1.9rem;
    background-color: #1f1f1f;
    transition: all 0.2s ease-in-out;
  }
  .article__container__row {
    align-items: center;
    background-color: #000000;
    font-size: 0.7rem;
    font-weight: 600;
    border-radius: 1rem;
    width: 16rem;
    height: 30rem;
    margin: 10px;
    transition: all 0.2s ease-in-out;
  }
  .article__container__row .article-img {
    background-color: #f3f3f3;
    height: 10rem;
    border: none;
    width: 100%;
    border-radius: 0.3rem 0.3rem 0rem 2rem;
    text-align: center;
  }
  .article__container__row .article-img img {
    width: 8rem;
    height: 5rem;
    padding: 2rem;
  }
  .article__container__row .article-text {
    padding: 0.5rem;
    color: #ffffff;
    font-size: 0.6rem;
    text-align: center;
  }
  .article__container__row .article-text p.name {
    font-size: 1.2rem;
  }
  section.about {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2px;
  }
  section.about .about__container {
    padding-top: 17rem;
  }
  section.about .about__image {
    height: 42rem;
  }
  section.about .about__image img {
    height: 50%;
  }
  section.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 146vh;
    gap: 5rem;
    font-family: "open sans";
    font-weight: 600;
    font-size: 0.8rem;
    background-color: #1f1f1f;
    color: #ffffff;
  }
  section.footer h4 {
    font-size: 2rem;
    position: relative;
    top: 2rem;
    font-family: "Dancing Script";
  }
  section.footer .footer__link {
    width: 300px;
    position: relative;
    bottom: 15rem;
  }
  section.footer .fas-icons {
    font-size: 1.2rem;
    color: #ffffff;
    padding-top: 0.7rem;
    width: 2rem;
    height: 2rem;
    color: #000000;
    background-color: white;
    -webkit-clip-path: circle();
            clip-path: circle();
  }
  section.footer div.iconContact {
    display: flex;
    gap: 1rem;
    align-items: center;
    line-height: 1.8rem;
  }
  section.footer div.footer__hours {
    position: relative;
    bottom: 23rem;
  }
  section.footer div.footer__conctact {
    padding-top: 25rem;
  }
}
@media screen and (max-width: 659px) {
  /* règles CSS à appliquer lorsque la largeur de l'écran est inférieure ou égale à 924px */
  section.reduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 23px;
    height: 60vh;
    color: #ffffff;
    position: relative;
    top: 4rem;
  }
  section.reduction .reduction__container {
    display: flex;
    flex-direction: row;
    height: 17rem;
    width: 32rem;
    font-size: 1.3rem;
    font-family: "Dancing Script";
    border-radius: 10px;
    font-weight: 500;
    padding: 1rem;
    background-color: #1f1f1f;
    transition: all 0.2s ease-in-out;
  }
  .article__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 3rem;
  }
  .article__nav h2 {
    font-size: 2.7rem;
    font-weight: 700;
    position: relative;
    top: 2rem;
    font-family: "Dancing Script";
  }
  .header__message {
    width: 29rem;
    position: relative;
    top: 5%;
    font-weight: 600;
    margin: 3.43rem 5.62rem;
  }
  .article__container__row {
    align-items: center;
    background-color: #000000;
    font-size: 0.7rem;
    font-weight: 600;
    border-radius: 1rem;
    width: 13rem;
    height: 30rem;
    margin: 10px;
    transition: all 0.2s ease-in-out;
  }
  .article__container__row .article-img {
    background-color: #f3f3f3;
    height: 10rem;
    border: none;
    width: 100%;
    border-radius: 0.3rem 0.3rem 0rem 2rem;
    text-align: center;
  }
  .article__container__row .article-img img {
    width: 8rem;
    height: 5rem;
    padding: 2rem;
  }
  .article__container__row .article-text {
    padding: 0.5rem;
    color: #ffffff;
    font-size: 0.3rem;
    text-align: center;
  }
  .article__container__row .article-text p.name {
    font-size: 1.2rem;
  }
  section.satisfaction div.message {
    width: 10rem;
    background-color: #1f1f1f;
    color: white;
    padding: 0.1rem 1rem;
    border-radius: 0.5rem;
  }
}
@media screen and (max-width: 564px) {
  /* règles CSS à appliquer lorsque la largeur de l'écran est inférieure ou égale à 924px */
  section.reduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 23px;
    height: 60vh;
    color: #ffffff;
    position: relative;
    top: 4rem;
  }
  section.reduction .reduction__container {
    display: flex;
    height: 17rem;
    width: 20rem;
    font-size: 1.3rem;
    font-family: "Dancing Script";
    border-radius: 10px;
    font-weight: 500;
    padding: 1rem;
    background-color: #1f1f1f;
    transition: all 0.2s ease-in-out;
  }
  .article__container {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 33rem);
    margin: 2rem 3rem;
    align-items: center;
  }
  .article__container__row {
    align-items: center;
    background-color: #000000;
    font-size: 0.7rem;
    font-weight: 600;
    border-radius: 1rem;
    width: 24rem;
    height: 32rem;
    margin: 18px;
    transition: all 0.2s ease-in-out;
  }
  .article__container__row .article-img {
    background-color: #f3f3f3;
    height: 14rem;
    border: none;
    width: 100%;
    border-radius: 0.3rem 0.3rem 0rem 2rem;
    text-align: center;
  }
  .article__container__row .article-img img {
    width: 11rem;
    height: 8rem;
    padding: 3rem;
  }
  .article__container__row .article-text {
    padding: 0.7rem;
    color: #ffffff;
    font-size: 0.8rem;
    text-align: center;
  }
  .article__container__row .article-text p.name {
    font-size: 1.8rem;
  }
  .about__container {
    line-height: 1.7rem;
    font-weight: 600;
    width: 100px;
  }
  .about__container h2 {
    font-family: "Dancing Script";
    font-size: 12rem;
  }
  section.satisfaction {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div.satisfaction__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  div.satisfaction__container img {
    width: 9rem;
    -webkit-clip-path: circle(40% at center);
            clip-path: circle(40% at center);
  }
  section.satisfaction div.message {
    width: 15rem;
    background-color: #1f1f1f;
    color: white;
    padding: 0.1rem 1rem;
    border-radius: 0.5rem;
  }
  section.footer {
    height: 158vh;
  }
}
@media screen and (max-width: 843px) {
  header div.navi {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */