@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/**___________________  GENERAL _____________________**/
*{
    font-family:'Raleway', sans-serif;
    box-sizing: border-box;
    flex-shrink: 0;
}
main{
    flex: 1 0 auto;
}

body{
    padding: 0;
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
/**____________Header ___________**/

header{
    margin: 70px 50px;
    height: 50vh;
    display: flex;
    flex-direction: column;
}
.navigation{
    display: flex;
    justify-content: space-between;
}
.navbar ul.list {
    display: flex;
    gap:50px ;
    align-items: center;
    font-size: 17px;
    text-align: center;
}
header .navigation img{
    width:115px ;
}
div.landing-page{
    line-height:18px;
}
div.landing-page h3{
    font-size: 25px;
    font-weight: 1000;
}
div.landing-page p{
    font-size: 18px;
    font-weight: 700;
}
div.landing-page .text {
    line-height: 25px;
}
form.formSeach{
    display: flex;
    align-items: center;
}
#form2{
    display: none;
}
#searchInput{
    padding: 10px ;
    border: 1px solid #ccc;
    outline: none;
    font-weight: 1000;
    color: black;
    font-size: 18px;

}
#searchButton {
    padding: 10px;
    background-color: #0065FC;
    color: #fff;
    border: 1px solid #0065FC;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-size: 18PX;
    font-weight: 700;
    outline: none;
}
.searchInput {
    padding: 11px;
    border: 1px solid #ccc;
    outline: none;
    font-weight: 1000;
    color: black;
    font-size: 18px;
}
.searchButton{
    display: none;
}

.seach{
    padding: 10px;
    padding-bottom: 14px;
    background-color: #0065FC;
    color: #fff;
    border: 1px solid #0065FC;
    border-radius:15px 15px 15px 15px;
    cursor: pointer;
    font-size: 20px;
    position: relative;
    right: 17px;
    font-weight: 700;
    outline: none;
}
i#localisation {
    padding:14.3px;
    padding-bottom: 13.5px;
    background-color: #F2F2F2;
    border: 1px solid #ccc;
    border-radius: 10px 0 0 10px;
    outline: none;
    position: relative;
    left: 5px;
    border-right: none;
}
i.localisation {
    padding: 12.5px;
    background-color: #F2F2F2;
    border: 1px solid #ccc;
    border-radius: 10px 0 0 10px;
    outline: none;
    position: relative;
    left: 5px;
    border-right: none;
}
.linkActive{
    color: #0065FC;
}
.linkNav{
    position: relative;
    cursor: pointer;
}
.linkNav::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom:40px;
    transform-origin: 0 100%;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
    background-color: #0065FC;
}
.linkNav:hover::before{
    transform: scale(1);
    transform-origin: 110px 0;
}
/**__________FILTRE_________**/

div.filtre{
    display:flex;
    padding: 25px 2px   ;
    align-items: center;
    text-align: center;
    gap: 35px;
}
div.btn-filtre{
    display: flex;
    align-items: center;
    height: 50px;
    font-weight: 700;
    width: 190px;
    justify-content: space-around;
    border: 1.5px groove rgb(236, 229, 229);
    border-radius: 50px;
    transition: transform 1s ease-in ;
}
div.filtre h4{
    font-size: 20px;
}
div.btn-filtre p.icons{
    color: #0065FC;
    border-radius: 50px;
    background-color:#f1f1f1;
    height: 100%;
    width: 50px;
    font-size:25px;
    padding: 15px 0;
    position: relative;
    right: 10px;
}
div.btn-filtre p.icons1{
    color: #0065FC;
    border-radius: 50px;
    background-color:#f1f1f1;
    height: 100%;
    width: 50px;
    font-size:25px;
    padding: 15px 0;
    position: relative;
    right: 16px;
}
div.btn-filtre p.icons2 {
    color: #0065FC;
    border-radius: 50px;
    background-color: #f1f1f1;
    height: 100%;
    width: 50px;
    font-size: 25px;
    padding: 15px 0;
    position: relative;
    right: 9px;

}
div#btn-filtre5 {
    display: flex;
    align-items: center;
    height: 50px;
    width: 240px;
    justify-content: space-around;
    border: 1.5px groove rgb(236, 229, 229);
    border-radius: 50px;
}
.btn-filtre button{
    border: none;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    background-color:white;
}
.btn-filtre:hover{
    background-color: #bfd6f7;
    transform: scale(.8);
}
.btn-filtre:hover button {
    background-color: #bfd6f7;
}

/****___________DIV INFO_______**/
div.info{
    display: flex;
    align-items: center;
    gap: 5px;
}
.info p.toultype{
    height: 25px;
    width: 25px;
    text-align: center;
    border: 1px solid rgb(227, 209, 209); 
    border-radius: 50%;
    color: #0065FC;
    font-size: 19px;
    font-weight: 900;
}
.landing-page .praInfo{
    font-weight: 300;
    width: 100%;
}

/****________Section Hebergement__________*/

section.hebergement{
    height: 110vh;
    margin: 20px 4px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}
/***_______Left Section________****/
div.hebergementLeft{
    height: 105vh;
    min-width:60%;
    background-color: #F2F2F2;
    padding: 15px 30px;
    border-radius: 20px;
}
div.row1{
    display: flex;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}
div.hebergementContainer{
    display: flex;
    
    flex-direction: column;
}
div.row-image{
    background-color:white;
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    border-radius: 20px;
    height: 300px;
    padding: 6px;
}
.hebergement-image{
    width: 100%;
    height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.hebergementContainer .locale1 {
    background-image: url("./../images/hebergement/1.jpg");
}
.hebergementContainer .locale2 {
    background-image: url("./../images/hebergement/2.jpg");
}

.hebergementContainer .locale3 {
    background-image: url("./../images/hebergement/3.jpg");
}

.hebergementContainer .locale4 {
    background-image: url("./../images/hebergement/4.jpg");
}

.hebergementContainer .locale5 {
    background-image: url("./../images/hebergement/5.jpg");
}

.hebergementContainer .locale6 {
    background-image: url("./../images/hebergement/6.jpg");
}

div.image-details {
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    padding: 0 14px;
    line-height:16px;
}
div.image-details h3{
    font-size: 16px;
    text-transform: capitalize;
}
div.image-details p{
    font-size: 14px;
}

ul.list-start {
    display: flex;
    color: #0065FC;
    font-size: 11px;
    padding: .14px;
}
div.section-more{
    font-weight: 700;
    font-size: 17px;
}
i.starwhite{
    color:#F2F2F2;
}   
/****________section Right_______***/

div.hebergementRight{
    height: 105vh;
    background-color: #F2F2F2;
    padding: 15px 30px;
    width: 480px;
    border-radius: 20px;
}
.hebergementRight .section-title{
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    justify-content: space-evenly;
}

div.row-container {
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.rowImage{
    display: flex;
    width: 380px;
    position: relative;
    background-color: white;
    padding: 6px;
    border-radius: 20px;
    height: 200px;
}
.hebergement-imageRight{
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    width: 100%;
}
.rowImage .locale7 {
    background-image: url("./../images/hebergement/7.jpg");
}

.rowImage .locale8 {
    background-image: url("./../images/hebergement/8.jpg");
}

.rowImage .locale9 {
    background-image: url("./../images/hebergement/9.jpg");
}

div.imageDetails {  
    position: absolute;
    height: 94%;
    background-color:white;
    width:200px ;
    right: 0;
    padding: 14px 14px;
    border-radius: 0px 25px 25px 0px ;

    line-height:16px;
}
div.imageDetails h3{
    font-size: 16px;
}
div.imageDetails p{
    font-size: 14px;
}
ul.listRight{
    line-height: 110px;
}
p.image-price span{
    font-weight: 700;
}
/**_________Section activites__________**/

section.activites{
    height: 65vh;
    margin: 50px 0
}
div.activites__container{
    width: 100%;
    display: flex;
    /*flex-wrap: wrap;*/
    padding: 20px 0px;
    align-items: center;
    justify-content: space-around;
}
/**_______leftbox______***/
div.leftbox{
    height: 420px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

div.activites__row1{
    display: flex;
    height: 100%;
    min-width: 300px;
}
.activites-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 2400px;
    flex: 1;
    height: 100%;
    position: relative;
    border-radius: 20px 20px 20px 20px;
}

div.activites__row2{
    height: 100%;
    width: 280px;
}

div.activites__row2 .activites__row3{
    display: flex;
    height:55%;
    width: 100%;
}
div.activites__row2 .activites__row4{
    display: flex;
    height:45%;
    padding-top: 20px;
    width: 100%;
}
.leftbox .locale10 {
    background-image: url("../images/activite/1.jpg");
}
.leftbox .locale11 {
    background-image: url("../images/activite/2.jpg");
}
.leftbox .locale12 {
    background-image: url("../images/activite/3.jpg");
}

/****_______rightbox______***/


div.rightbox{
    height: 420px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;

}
.activites-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    flex: 1;
    height: 100%;
    position: relative;
    border-radius: 20px 20px 20px 20px;
}

div.rightbox .activites__row3{
    display: flex;
    width: 100%;
    height:45%;
    padding-bottom: 20px;
}
div.rightbox .activites__row4{
    display: flex;
    height:55%;
    width: 100%;
}
.rightbox .locale13 {
    background-image: url("../images/activite/4.jpg");
}
.rightbox .locale14 {
    background-image: url("../images/activite/5.jpg");
}
.rightbox .locale15 {
    background-image: url("../images/activite/6.jpg");
}



.activites div.section__title{
    margin: 0 70px;
    text-transform: capitalize  ;
}

.activites-image .details {
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 15px 15px;
    background-color: #F2F2F2;
    width: 100%;
    font-size: 13px;
    height: 50px;
    padding: 0 15px;
    line-height: 16px;
    text-transform: capitalize;
}
.activites-image .details p {
    font-weight: bold;
    font-size: 17px;
    text-transform: capitalize;
}

/***_______footer_______**/

footer{
    width: 100%;
    background-color: #F2F2F2;
    flex-shrink: 0;
}
section.footer{
    display: flex;
    padding: 30px 45px;
    gap: 20%;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
section.footer h2.footer_title{
    font-weight: bold;
    font-size: 20px;
}






/******_________Responsive____________***/

@media screen and (max-width: 768px) {
    /* règles CSS à appliquer lorsque la largeur de l'écran est superieur ou égale à 924px */

    header {
        
        display: flex;
        height: auto;
        flex-direction: column;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .navbar ul.list {
        display: flex;
        gap: 20px;
        align-items: center;
        padding: 0 5px;
        font-size: 17px;
        text-align: center;
    }

    div.landing-page .text {
        line-height: 30px;
    }


    #form1 {
        display: none;
    }

    #form2 {
        display: block;
    }

    .linkNav::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 5px;
        top: 46.2px;
        transform-origin: 0 100%;
        transform: scale(0);
        transition: transform 0.2s ease-in-out;
        background-color: #0065FC;
    }

    nav.navbar ul.list {
        position: relative;
    }

    nav.navbar ul.list::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 5px;
        background-color: #F2F2F2;
        top: 46.2px;
    }

    .searchInput {
        padding: 11px;
        border: 1px solid #ccc;
        outline: none;
        font-weight: 1000;
        color: black;
        width: 160px;
        font-size: 15px;
    }

    i#localisation {
        padding: 11px;
        padding-bottom: 12.6px;
        background-color: #F2F2F2;
        border: 1px solid #ccc;
        border-radius: 10px 0 0 10px;
        outline: none;
        position: relative;
        left: 5px;
        border-right: none;
    }

    /**_______FILTRE_______*/

    div.filtre {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
    }

    div.btn-filtre {
        display: flex;
        align-items: center;
        height: 50px;
        font-weight: 400;
        width: 180px;
        justify-content: space-around;
        border: 1.5px groove rgb(236, 229, 229);
        border-radius: 50px;
        transition: transform 1s ease-in;
    }

    div.filter div.filter1 {
        position: absolute;
        bottom: 2474px;
    }

    div.btn-filtre p.icons {
        right: 12px;
    }


    div.btn-filtre p.icons2 {
        right: 8px;
    }

    div#btn-filtre5 {
        display: flex;
        align-items: center;
        height: 50px;
        width: 220px;
        justify-content: space-around;
        border: 1.5px groove rgb(236, 229, 229);
        border-radius: 50px;
    }

    div#btn-filtre3,
    div#btn-filtre1 {
        width: 190px;
    }

    .btn-filtre button {
        border: none;
        font-weight: 700;
        color: black;
        font-size: 13px;
        cursor: pointer;
        background-color: white;
    }

    /****________Section Hebergement__________*/

    section.hebergement {
        height: auto;
        display: flex;
        flex-direction: column-reverse;
    }

    /***_______Left Section________****/
    div.hebergementLeft {
        min-height: 290vh;
        padding: 15px 15px;
        width: 100%;
        border-radius: 20px;
    }

    div.row1 {
        display: flex;
        height: 130vh;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
    }

    div.hebergementContainer {
        padding: 30px 0;
        gap: 15px;
        display: flex;
        flex-direction: column;
    }

    div.row-image {
        background-color: white;
        flex: 1;
        flex-wrap: wrap;
        display: flex;
        max-width: 100%;
        max-height: 310px;
        border-radius: 20px;
        padding: 6px;
    }

    .hebergement-image {
        min-width: 160px;
        max-height: 100%;
        position: relative;
        background-position: center;
        background-size: cover;
        border-radius: 20px;
    }


    /****________section Right_______***/

    div.hebergementRight {
        min-height: 113vh;
        margin-top: 30px;
        background-color: #F2F2F2;
        border-radius: 20px;
        padding: 15px 0;
        width: 100%;
    }

    div.row-container {
        max-height: 100%;
        display: flex;
        gap: 15px;
        max-width: 95%;
        padding: 10px 20px;
        justify-content: space-evenly;
        align-items: center;
    }

    .hebergementRight .section-title {
        display: flex;
        align-items: center;
        padding-bottom: 5px;
        justify-content: space-evenly;
    }

    .rowImage {
        display: flex;
        position: relative;
        background-color: white;
        width: 100%;
        padding: 6px;
        border-radius: 20px;
        min-height: 180px;
    }

    .hebergement-imageRight {
        height: 100%;
        background-position: center;
        background-size: cover;
        border-radius: 20px;
        min-width: 200px;
    }

    div.imageDetails {
        position: absolute;
        height: 94%;
        background-color: white;
        max-width: 200px;
        right: 0;
        padding: 14px 14px;
        border-radius: 0px 25px 25px 0px;

        line-height: 23px;
    }

    div.imageDetails h3 {
        font-size: 16px;
    }

    div.imageDetails p {
        font-size: 14px;
    }

    ul.listRight {
        line-height: 12px;
    }

    /**_________Section activites__________**/

    .activites div.section__title {
        margin: 0 15px;
        text-transform: capitalize;
    }

    section.activites {
        /*min-height: 280vh;*/
        height: auto;
        margin: 3px 0;
    }

    div.activites__container {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    div.leftbox {
        display: block;
        flex-wrap: wrap;
        padding: 10px;
        height: 120vh;
        flex-direction: column;
        width: 100%;

    }

    div.activites__row1 {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        max-height: 300px;

    }

    .activites-image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        flex: 1;
        min-width: 40px;
        max-height: 100%;
        position: relative;
        border-radius: 20px 20px 20px 20px;
    }

    div.rightbox {
        height: 120vh;
        display: block;
        padding: 10px;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;
    }

    .activites__row3 {
        max-height: 500px;
    }


    div.activites__row2 {
        max-height: 500px;
        width: 100%;
        padding-top: 20px;
    }

    div.rightbox .activites__row3 {
        display: flex;
        width: 100%;
        min-height: 60%;
        padding-bottom: 20px;
    }

    div.rightbox .activites__row4 {
        display: flex;
        min-height: 60%;
        width: 100%;
    }

    div.leftbox .activites__row4 {
        display: flex;
        min-height: 60%;
        width: 100%;
    }

    footer {
        width: 100%;
    }

    section.footer {
        display: flex;
        padding: 30px 45px;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        justify-content: center;
        text-align: center;
    }
}


@media  screen and (min-width:768px) and (max-width:992px) {
    /* règles CSS à appliquer lorsque la largeur de l'écran est superieur ou égale à 768px */
/**__________FILTRE_________**/
    header{
        height: auto;
    }
    div.filtre {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        padding: 25px 0;
        align-items: center;
        text-align: center;
        gap: 18px;
    }

    div.btn-filtre {
        display: flex;
        align-items: center;
        height: 50px;
        font-weight: 600;
        width: 180px;
        justify-content: space-around;
        border: 1.5px groove rgb(236, 229, 229);
        border-radius: 50px;
        transition: transform 1s ease-in;
    }

    div.filtre h4 {
        font-size: 20px;
    }

    div.btn-filtre p.icons {
        color: #0065FC;
        border-radius: 50px;
        background-color: #f1f1f1;
        height: 100%;
        clip-path:circle(50%);
        font-size: 20px;
        padding: 15px 0;
        position: relative;
        right: 7px;
    }

    div.btn-filtre p.icons1 {
        color: #0065FC;
        border-radius: 50px;
        background-color: #f1f1f1;
        height: 100%;
        clip-path: circle(50%);
        font-size: 20px;
        padding: 15px 0;
        position: relative;
        right: 16px;
    }

    div.btn-filtre p.icons2 {
        color: #0065FC;
        border-radius: 50px;
        background-color: #f1f1f1;
        height: 100%;
        clip-path: circle(50%);
        font-size: 20px;
        padding: 15px 0;
        position: relative;
        right: 19px;

    }

    div#btn-filtre5 {
        display: flex;
        align-items: center;
        height: 50px;
        width: 290px;
        justify-content: space-around;
        border: 1.5px groove rgb(236, 229, 229);
        border-radius: 50px;
    }

    .btn-filtre button {
        border: none;
        font-weight: 700;
        font-size: 18px;
        cursor: pointer;
        background-color: white;
    }

    .btn-filtre:hover {
        background-color: #bfd6f7;
        transform: scale(.8);
    }

    .btn-filtre:hover button {
        background-color: #bfd6f7;
    }

    /****________Section Hebergement__________*/

section.hebergement{
    height: auto;
    display: flex;
    flex-direction: column-reverse;
}
/***_______Left Section________****/
div.hebergementLeft{
    max-height:100%;
    padding: 15px 15px;
    width: 100%;
    border-radius: 20px;
}
div.row1{
    display: flex;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
}
div.hebergementContainer{
    padding: 30px 0;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
div.row-image{
    background-color:white;
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    max-width: 100%;
    max-height: 260px;
    border-radius: 20px;
    padding: 6px;
}
.hebergement-image{
    min-width: 160px;
    max-height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}


/****________section Right_______***/

div.hebergementRight{
    max-height: 155vh;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 15px 0;
    width: 100%;
}

div.row-container {
    max-height: 100%;
    display:flex;
    gap: 15px;
    max-width: 100%;
    padding: 10px 20px;
    justify-content: space-evenly;
    align-items: center;
}
.hebergementRight .section-title{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    justify-content: space-evenly;
}

.rowImage{
    display: flex;
    position: relative;
    background-color: white;
    min-width: 60%;
    padding: 6px;
    border-radius: 20px;
    min-height: 180px;
}
.hebergement-imageRight{
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    min-width: 200px;
}
div.imageDetails {  
    position: absolute;
    height: 94%;
    background-color:white;
    max-width:220px;
    right: 0;
    padding: 14px 14px;
    border-radius: 0px 25px 25px 0px ;
    line-height:23px;
}

div.imageDetails h3{
    font-size: 16px;
}
div.imageDetails p{
    font-size: 14px;
}
ul.listRight{
    line-height: 12px;
}

/**_________Section activites__________**/

.activites div.section__title{
    margin: 0 50px;
    text-transform: capitalize  ;
}
section.activites{
    height: auto;
    margin: 3px 0
}
div.activites__container{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 35px;
    justify-content: space-evenly;
}
div.leftbox{
    height: 420px;
    display: flex;
    flex-wrap: wrap;
    min-width:20% ;
    width: 100%;
    justify-content: space-evenly;

}
div.activites__row1{
    justify-content: space-evenly;
    min-width: 40%;

}
.activites-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    min-width: 40px;
    max-height: 100%;
    position: relative;
    border-radius: 20px 20px 20px 20px;
}

div.rightbox{
    height: 420px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 20%;
    gap: .5px;
    justify-content:space-evenly;
}

div.activites__row2{
    min-height: 400px;
    min-width: 35%;
}
section.footer{
    display: flex;
    padding: 30px 45px;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

}


@media screen and (min-width:992px) {

    /* règles CSS à appliquer lorsque la largeur de l'écran est superieur ou égale à 924px */
    /**__________FILTRE_________**/
    header {
        height: au;
    }

    div.filtre {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        padding: 25px 0;
        align-items: center;
        text-align: center;
        gap: 18px;
    }

    div.btn-filtre {
        display: flex;
        align-items: center;
        height: 50px;
        font-weight: 600;
        width: 180px;
        justify-content: space-around;
        border: 1.5px groove rgb(236, 229, 229);
        border-radius: 50px;
        transition: transform 1s ease-in;
    }

    div.filtre h4 {
        font-size: 20px;
    }

    div.btn-filtre p.icons {
        color: #0065FC;
        border-radius: 50px;
        background-color: #f1f1f1;
        height: 100%;
        clip-path: circle(50%);
        font-size: 20px;
        padding: 15px 0;
        position: relative;
        right: 7px;
    }

    div.btn-filtre p.icons1 {
        color: #0065FC;
        border-radius: 50px;
        background-color: #f1f1f1;
        height: 100%;
        clip-path: circle(50%);
        font-size: 20px;
        padding: 15px 0;
        position: relative;
        right: 16px;
    }

    div.btn-filtre p.icons2 {
        color: #0065FC;
        border-radius: 50px;
        background-color: #f1f1f1;
        height: 100%;
        clip-path: circle(50%);
        font-size: 20px;
        padding: 15px 0;
        position: relative;
        right: 19px;

    }

    div#btn-filtre5 {
        display: flex;
        align-items: center;
        height: 50px;
        width: 290px;
        justify-content: space-around;
        border: 1.5px groove rgb(236, 229, 229);
        border-radius: 50px;
    }

    .btn-filtre button {
        border: none;
        font-weight: 700;
        font-size: 18px;
        cursor: pointer;
        background-color: white;
    }

    .btn-filtre:hover {
        background-color: #bfd6f7;
        transform: scale(.8);
    }

    .btn-filtre:hover button {
        background-color: #bfd6f7;
    }


    /****________Section Hebergement__________*/

    section.hebergement {
        height: auto;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }

    /***_______Left Section________****/
    div.hebergementLeft {
        max-height: 100%;
        background-color: #F2F2F2;
        padding: 15px 15px;
        border-radius: 20px;
    }

    div.row1 {
        display: flex;
        gap: 10px;
        width: 100%;
        flex-wrap: wrap;
    }

    div.hebergementContainer {
        padding: 30px 0;
        display: flex;
        gap: 20px;
        flex-direction: column;
    }

    div.row-image {
        background-color: white;
        flex: 1;
        flex-wrap: wrap;
        display: flex;
        max-width: 100%;
        max-height: 260px;
        border-radius: 20px;
        padding: 6px;
    }

    .hebergement-image {
        min-width: 160px;
        max-height: 100%;
        position: relative;
        background-position: center;
        background-size: cover;
        border-radius: 20px;
    }

    div.section-more {
        font-weight: 700;
        padding-top: 4px;
        font-size: 17px;
    }


    div.image-details {
        position: absolute;
        bottom: 0;
        background-color: white;
        width: 100%;
        max-height: 120px;
        padding: 0 14px;
        line-height: 25px;
    }

    div.image-details h3 {
        font-size: 16px;
        text-transform: capitalize;
    }

    div.image-details p {
        font-size: 14px;
        line-height: 2px;
        position: relative;
        bottom: 10px;
    }

    p.image-price span {
        font-weight: 700;
    }

    ul.list-start {
        display: flex;
        color: #0065FC;
        font-size: 11px;
        padding: .14px;
    }

    div.section-more {
        font-weight: 700;
        padding-top: 45px;
        font-size: 17px;
    }

    i.starwhite {
        color: #F2F2F2;
    }

    ul.list1 {
        position: relative;
        bottom: 13px;
    }

    /****________section Right_______***/

    div.hebergementRight {
        max-height: 110vh;
        background-color: #F2F2F2;
        padding: 15px 15px;
        max-width: 35%;
        border-radius: 20px;
    }

    .hebergementRight .section-title {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        justify-content: space-evenly;
    }

    div.row-container {
        max-height: 97%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        max-width: 100%;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    .rowImage {
        display: flex;
        position: relative;
        background-color: white;
        max-width: 100%;
        padding: 6px;
        border-radius: 20px;
        max-height: 180px;
    }

    .hebergement-imageRight {
        height: 100%;
        background-position: center;
        background-size: cover;
        border-radius: 20px;
        width: 100%;
    }

    div.imageDetails {
        position: absolute;
        height: 94%;
        background-color: white;
        max-width: 160px;
        right: 0;
        padding: 14px 14px;
        border-radius: 0px 25px 25px 0px;

        line-height: 23px;
    }

    div.imageDetails h3 {
        font-size: 16px;
    }

    div.imageDetails p {
        font-size: 14px;
    }

    ul.listRight {
        line-height: 18px;
    }

    /**_________Section activites__________**/


    section.activites {
        /*min-height: 150vh;*/
        height: auto;
        margin: 3px 0
    }

div.activites__container {
    display: flex;
    flex-wrap: wrap;
    min-height: 100%;
    align-items: center;
    justify-content: space-around;
}
    div.leftbox {
        min-height: 570px;
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
        min-width: 50%;
        justify-content: space-around;
        padding: 25px;
    }
    div.rightbox{
        min-height: 570px;
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
        justify-content: space-around;
        min-width: 50%;
        padding: 25px;
    }
    div.activites__row1 {
        justify-content: space-evenly;
        min-width: 50%;
        min-height:400px ;
    }

    .activites-image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        flex: 1;
        min-width: 40px;
        min-height: 200px;
        position: relative;
        border-radius: 20px 20px 20px 20px;
    }
    .activites-image .details {
        position: absolute;
        bottom: 0;
        border-radius: 0px 0px 15px 15px;
        background-color: #F2F2F2;
        width: 100%;
        font-size: 13px;
        min-height:58px;
        padding: 0 15px;
        line-height: 16px;
        text-transform: capitalize;
    }
    div.activites__row2 {
        min-height: 400px;
        min-width: 48%;
    }

    section.footer {
        display: flex;
        padding: 30px 45px;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
    }
    

}

